.beer {
  color: var(--text-color);
}

.beer__wrapper {
  margin: auto;
}

.beer__image {
  text-align: center;
  margin-bottom: 2rem;
}

.beer__image-wrapper {
  position: sticky;
  top: 2rem;
}

.beer__image img {
  height: 32rem;
  max-width: 100%;
}

.beer__name {
  color: var(--primary-700);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

.beer__details-section-heading {
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem;
}

.beer__tagline {
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
}

.beer__details-section {
  margin: 3rem 0 0;
}

.beer__details-section p {
  margin: 0 0 0.5rem;
}

.beer strong {
  color: var(--dark-color);
}

.beer__favorite-button {
  background-color: transparent;
  border: 1px solid var(--disabled);
  border-radius: var(--radius-sm);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  color: var(--dark-color);
}

.beer__favorite-button--active {
  background-color: transparent;
  border: 1px solid var(--primary-700);
}

.beer__favorite-button svg {
  margin-top: -3px;
}
