* {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-400: #f7ce45;
  --primary-700: hsl(43, 60%, 30%);

  --text-color: hsl(35, 8%, 40%);
  --light-color: #f6f5f3;
  --dark-color: #2f3d0d;
  --disabled: #bfb9a6;

  --radius-sm: 0.25rem;
  --radius-lg: 1rem;
  --radius-full: 9999px;
}

body strong {
  font-weight: 600;
}

main {
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  main {
    margin-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  main {
    margin-bottom: 2rem;
  }
}
