* {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-400: #f7ce45;
  --primary-700: #9a7a26;

  --text-color: #847c71;
  --light-color: #f6f5f3;
  --dark-color: #2f3d0d;
  --disabled: #bfb9a6;

  --radius-sm: 0.25rem;
  --radius-lg: 1rem;
  --radius-full: 9999px;
}

strong {
  font-weight: 600 !important;
}

main {
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  main {
    margin-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  main {
    margin-bottom: 2rem;
  }
}
